:root {
  --blue: #0a3d62;
  --white: #f9eae1;
  --orange: #fc6231;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--white);
}

/* =============== Home =============== */

.home-servicos {
  height: calc(100vh - 70px);
  background-image: url(/assets/bg-servicos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.home-servicos h1 {
  color: var(--white);
  padding-left: 3rem;
  padding-top: 120px;
  padding-right: 3rem;
  font-size: 18px;
  font-weight: 500;
  width: 280px;
}

/* =============== Home =============== */

/* =============== Cards =============== */

.title-servicos {
  font-size: 16px;
  text-align: center;
  padding-top: 40px;
  letter-spacing: 2px;
}

.container {
  display: grid;
  place-items: center;
  margin-inline: 1rem;
  padding-top: 40px;
}

.card-container {
  display: grid;
  row-gap: 3rem;
}

.card-article {
  position: relative;
  overflow: hidden; /* Para garantir que nada saia do card */
}

.card-img {
  width: 280px;
}

.card-data {
  width: 240px;
  background-color: var(--blue);
  padding: 1.2rem 1.8rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
  border-radius: 16px;
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.card-title {
  text-align: center;
  font-size: 14px;
  margin-bottom: 0.75rem;
  font-weight: 600;
  color: var(--white);
}

.card-description {
  font-size: 12px;
  color: var(--white);
}

.card-article:hover .card-data {
  opacity: 1;
  transform: translateY(0); /* Exibe o card */
}

.card-article:hover {
  animation: remove-overflow 2s forwards;
}

.card-article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card-article:not(:hover) .card-data {
  opacity: 0;
  transform: translateY(100%); /* Esconde o card saindo por baixo */
}

.line-depoid {
  height: 2px;
  background-color: var(--blue);
  width: 90%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}
/* =============== Parceiros =============== */

#parceiros {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.title-parceiros {
  font-size: 14px;
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 40px;
}

.container-parceiros {
  max-width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-bottom: 40px;
}

.container-parceiros img {
  width: 240px;
}
/* =============== Parceiros =============== */

/* =============== Botões =============== */

.botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 40px;
}

#btn-services-contato {
  width: 230px;
  height: 60px;
  background-color: var(--blue);
  border-radius: 8px;
  border: none;
}

#btn-services-depoid {
  width: 230px;
  height: 60px;
  border-radius: 8px;
  border: 2px solid var(--orange);
  background-color: var(--white);
}

#btn-services-depoid a {
  color: var(--orange);
}

button a {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--white);
}

@media (min-width: 768px) {
  .home-servicos h1 {
    width: 380px;
    font-size: 22px;
    padding-left: 6rem;
  }
  .container {
    margin-inline: 2rem;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas médias */
    gap: 2rem;
  }

  .title-servicos {
    font-size: 18px;
  }

  #btn-services-contato {
    width: 260px;
    height: 70px;
  }

  #btn-services-depoid {
    width: 260px;
    height: 70px;
  }

  button a {
    font-size: 14px;
  }

  .title-parceiros {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .title-parceiros {
    font-size: 18px;
  }
  .home-servicos h1 {
    width: 480px;
    font-size: 26px;
    padding-left: 10rem;
  }
  .container {
    margin-inline: 3rem;
  }

  .card-container {
    grid-template-columns: repeat(3, 1fr); /* 3 colunas em telas grandes */
    gap: 2.5rem;
  }

  .title-servicos {
    font-size: 20px;
  }
  #btn-services-contato {
    width: 290px;
    height: 70px;
  }

  #btn-services-depoid {
    width: 290px;
    height: 70px;
  }
}
